@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300&family=Overpass:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
}

.container {
    border: none;
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
    padding: 1.4%;
    width: 22%;
}

.star-container {
    background-color: hsla(240, 1%, 58%, 0.103);
    display: inline-block;
    padding: 15px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star-container img {
    margin-top: 6px;
    max-height: 100%;
    max-width: 100%;
}

.title {
    color: white;
}

.description {
    color:  hsl(217, 12%, 63%);
    font-size: 17px;
    font-weight: bold;
    line-height: 1.5;
}

.ratings {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 8%;
    margin-bottom: 8%;
}

.number {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: hsla(240, 1%, 58%, 0.103);
    color: hsl(217, 12%, 63%);
    font-weight: bold;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

.number:hover {
    color: white;
    background-color: hsl(25, 97%, 53%);
}

.number:active {
    color: white;
    background-color: hsl(217, 12%, 63%);
}

.submit-container {
    text-align: center;
}

.submit {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    background-color: hsl(25, 97%, 53%);
    font-weight: bold;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    cursor: pointer;
}

.submit:hover {
    color: hsl(25, 97%, 53%);
    background-color: white;
}


.feedback-container {
    border: none;
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
    padding: 2.4% 1.4%;
    width: 22%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-rating {
    color: hsl(25, 97%, 53%);
    font-weight: bold;
    margin-top: 7%;
    background-color: hsla(240, 1%, 58%, 0.103);
    width: fit-content;
    padding: 8px 25px;
    border-radius: 50px;
    letter-spacing: 0.8px;
}

.feedback-title {
    color: white;
    font-weight: bold;
}

.feedback-desc {
    color: hsl(217, 12%, 63%);
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0.8px;
    font-size: 14.5px;
}
